<%= form_for(offer) do |f| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %>
  </div>

  <div class="field">
    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone %>
  </div>

  <div class="field">
    <%= f.label :salary %>
    <%= f.number_field :salary %>
  </div>

  <div class="field">
    <%= f.label :job_id %>
    <%= f.text_field :job_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
